
.header{
    background-color: #9DC82C;
    /* height: 83px; */
    padding: 20px 0;
}

.menu{
    display: flex;
    align-items: center;
    gap: 35px;
}

.header__logo{
    margin-right: 35px;
}
.header__flex{
    display: flex;
    align-items: center;
}
.header__catalog{
    margin-right: 60px;
}
.header__catalog button{
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 13px 16px; 
}

.header__catalog button span{
    margin-left: 5px;
}
.header__catalog button img {
    vertical-align: middle;
}
.basket{
    margin-left: 153px;
    display: flex;
    gap: 4px;
    align-items: center;
    position: relative;
}
.basket button{
    border: none;
    background-color: #9DC82C;
    color: #fff;
    display: flex;
    align-items: center;
}
.basket img{
    margin-right: 4px;
}
.basket p{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #ffffff95;
}